name: Build APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Free Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"

      - name: Cache Buildozer
        uses: actions/cache@v4
        with:
          path: |
            ~/.buildozer
            ~/.android
            .buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}
          restore-keys: |
            ${{ runner.os }}-buildozer-

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 virtualenv

      - name: Build with Buildozer
        run: |
          export JAVA_HOME=$JAVA_HOME_17_X64
          mkdir -p .buildozer/android/platform
          if [ ! -d ".buildozer/android/platform/python-for-android" ]; then
            git clone https://github.com/kivy/python-for-android.git .buildozer/android/platform/python-for-android
          fi
          yes | buildozer -v android debug
        env:
          MAX_JOBS: 1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TouchGrass-APK
          path: bin/*.apk
