name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Add this step to fix the permission error
      - name: Fix permissions
        run: |
          sudo chown -R $USER:$USER .
          chmod -R 777 .

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: touchgrass
          path: bin/*.apk
