name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1.6.1
        with:
          command: buildozer android debug
          buildozer_version: stable
        env:
          USER: runner

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: touch-grass-apk
          path: bin/*.apk
