name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable
        env:
          # This tells the action to use the GitHub runner user instead of 'user'
          USER: runner

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyFreeAPK
          path: bin/*.apk
name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable
        env:
          # This tells the action to use the GitHub runner user instead of 'user'
          USER: runner

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: touchgrass
          path: bin/*.apk
